section {
    padding: $padding;

    article:not(:last-child) {
        @include first-last-el-no-margin;
        margin-bottom: $padding; 
    }

    @include mq($phoneLandscape) {
        padding: $padding-mobile;
    }

}

.lesson-days-nav {

    display: flex;

    ul {
        min-width: 200px;

    }

    @include mq(em(480)){
        flex-direction: column;
    }

}